body {
  margin: 0;
  background-color: hsl(240, 2%, 10%);
}
.contain{
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 500px;
  background-color: rgb(29, 42, 46);
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.63);
  border-radius: 10px;
  align-items: center;
}
.image{
  z-index: 1;
  margin-top: -60px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 40px rgba(7, 165, 204, 0.63);
  background-color:#10a5aa;
  width: 150px;
    height: 150px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
  border: none;
  
}
.icons{
  margin: 10px;
  color: rgb(141, 141, 141);
  text-align: left;
  height: 10px;
  font-size: large;
}
.name{
  margin: 5px;
  color:rgb(23, 161, 161);
  
}
.align{
  color: rgb(141, 141, 141);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}
.button{
  color: rgb(11, 163, 163);
  background-color: rgb(48, 49, 49);
  border: none;
  border-radius: 5px;
  width: 25%;
  padding: 10px;
  font-size: larger;
  margin-top: 20px ;
  font-family:'Trebuchet MS';

}
.button:hover{
  color: rgb(48, 49, 49);
  background-color:  rgb(11, 163, 163);
  border: none;
  border-radius: 5px;
  width: 26%;
  padding: 10px;
  font-size: larger;
  margin-top: 15px ;
  box-shadow: 0px 10px 40px rgba(33, 107, 126, 0.63);
  font-family:'Trebuchet MS';

}
.main-div{
  display: flex;
  flex-direction: column;
  align-items: center;

}